<?xml version="1.0"?>

<launch>
  <!-- 原始gps数据 -->
  <node name="gps_data" pkg="data_store" type="gps_data" output="screen">  </node>
  <!-- 东北天gps里程计数据 -->
  <node name="gps_odom_data" pkg="data_store" type="gps_odom_data" output="screen">  
    <remap from="/gps/odom" to="/gps/odom_base_save"/>
  </node>
  <!-- 原始北西天imu数据 -->
  <node name="imu_data" pkg="data_store" type="imu_data" output="screen">  </node>
  <!-- 原始载体坐标系视觉里程计数据 -->
  <node name="stereo_odometry_data" pkg="data_store" type="stereo_odometry_data" output="screen">  
  </node>
  <!-- 东北天视觉里程计数据 ,相当于原始VO-->
  <node name="stereo_odometry_data_enu" pkg="data_store" type="stereo_odometry_data_enu" output="screen">  
    <remap from="/stereo_odometry_enu" to="/stereo_odometry_enu"/>
  </node>
  <!-- 通断视觉里程计数据  -->
  <node name="stereo_odometry_valid_data" pkg="data_store" type="stereo_odometry_valid_data" output="screen">  </node>
  <!-- 通断gps里程计数据 ，相当于开关量-->
  <node name="gps_odom_valid_data" pkg="data_store" type="gps_odom_valid_data" output="screen">  </node>
    <!-- 通断gps数据 -->
  <node name="gps_valid_data" pkg="data_store" type="gps_valid_data" output="screen">  </node>
  <!-- eskf数据 -->
  <node name="eskf_odom_data" pkg="data_store" type="eskf_odom_data" output="screen">  
    <remap from="/eskf_odom" to="/eskf_odom"/>
  </node>
  <!-- ekf数据 -->
  <node name="ekf_odom_data" pkg="data_store" type="ekf_odom_data" output="screen">  
    <remap from="/ekf_odom" to="/ekf_odom"/>
  </node>
  <!-- GPS/IMU融合 -->
  <node name="gps_imu_fusion_data" pkg="data_store" type="gps_imu_fusion_data" output="screen">  
    <remap from="/gps_imu_odometry" to="/gps_imu_odometry"/>
  </node>
  <!-- VO/IMU融合 -->
  <node name="vo_imu_fusion_data" pkg="data_store" type="vo_imu_fusion_data" output="screen">  
    <remap from="/vo_imu_odometry" to="/vo_imu_odometry"/>
  </node>
  <!-- GPS/VO/IMU融合 -->
  <node name="gps_imu_vo_fusion_data" pkg="data_store" type="gps_imu_vo_fusion_data" output="screen">  
    <remap from="/gps_imu_vo_odometry" to="/gps_imu_vo_odometry"/>
  </node>
</launch>
